<div class="item post-summary" ng-style="{'background-image':'url({{post.backgroundImgUrl}})'}">
    <div class="row row-top" ui-sref="post({'postId': post.id})">
        <div class="post-summary-user-img-container">
            <img class="post-summary-user-img" ng-src="{{post.authorUrlImage}}" alt="Foto de perfil"/>
        </div>

        <div class="col post-summary-user-data">
            <span class="post-summary-user-name">{{post.authorName}}<br/></span>

            <span ng-show="post.location !== ''" class="post-summary-location">
                <i class="ion-location"></i> {{post.authorLocation}}
            </span>
        </div>

        <div class="col post-summary-timestamp">
            <i class="ion-clock"></i> <span am-time-ago="post.timestamp"></span>                        
        </div>
    </div>

    <div class="row row-baseline" ui-sref="post({'postId': post.id})">
        <div class="col post-summary-body-text">{{post.text}}</div>
    </div>

    <div class="row row-bottom">
        <div class="col post-summary-footer">
			<span ng-click="toggleLike(post.id); $event.stopPropagation()">
				<i ng-show="post.isLiked" class="ion-ios7-star"></i> 
				<i ng-show="!post.isLiked" class="ion-ios7-star-outline"></i> 
				{{post.totalStars}}
			</span>
			&nbsp;
            <span><i class="ion-chatbox"></i> {{post.totalComments}}</span>
        </div>
    </div>
</div>
<br/>