.adn #right-button.custom-right-button{
    background-image: url("../../assets/img/svg/add-interest.svg");
    width: 1.5em;
}
.dna-vertical{
    background-color: #1b2031;
    background-image: url('../../assets/img/profiledna_vertical.png');
    background-position: center 0em;
    background-repeat: repeat-y;

    padding-top: 6em;
    padding-bottom: 7.1em;
}
.dna-vertical, .dna-vertical .interest{
    border-width: 0em;
}
.dna-vertical .interest{
    background-color: transparent;
    margin-bottom: 3.5em;
}
.dna-vertical .interest .texto{
    color: #fed970;
    font-size: 0.8em;
}
.dna-vertical .interest.item-icon-right{
    text-align: right;
}
.dna-vertical .interest.item-icon-left{
    text-align: left;
}
.dna-vertical .interest.item-icon-right .texto{
    margin-right: 60%;
}
.dna-vertical .interest.item-icon-left .texto{
    margin-left: 60%;
}
.dna-vertical .interest .icon{
    color: #aaa;
}
.dna-vertical .interest.item-icon-right .ico .icon{
    right: 25%;
}
.dna-vertical .interest.item-icon-left .ico .icon{
    left: 25%;
}
.add-interest-clicked{
    background-color: #fff;
}
.content-background .text-pulling{
    color: #fff;
}
.content-background, .content-background .list{
    background-color: #1b2031;
    border-width: 0px;
}
.content-background .list{
    padding: 0px;
}
.content-background .scroll{
    background-image: url('../../assets/img/profiledna_vertical.png');
    background-position: center 0em;
    background-repeat: repeat-y;
    border-width: 0px;
    min-height: 100%;
}

#adn-back-button {
    background-color: transparent;
    border-color: transparent;
    /*border-width: 0em;*/
    /*
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 0.2em;
    vertical-align: middle;
    */
    color: #fff;
}
#adn-back-button i{
    /*font-size: 32px;*/
}

#adn-back-button>i:before{
    font-size: 32px;
}
#adn-back-button .previous-title{
    font-size: 1.3em;
}
