@font-face {
    font-family: 'Solomon Sans Black';
    src: url('./fonts/Solomon Sans Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Solomon Sans Bold';
    src: url('./fonts/Solomon Sans Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Solomon Sans Book';
    src: url('./fonts/Solomon Sans Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Solomon Sans Light';
    src: url('./fonts/Solomon Sans Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Solomon Sans Normal';
    src: url('./fonts/Solomon Sans Normal.ttf') format('truetype');
}
@font-face {
    font-family: 'Solomon Sans SemiBold';
    src: url('./fonts/Solomon Sans SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Solomon Sans Thin';
    src: url('./fonts/Solomon Sans Thin.ttf') format('truetype');
}


input[type="text"]::-webkit-input-placeholder {
   font-family: "Solomon Sans Normal";
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
   font-family: "Solomon Sans Normal";
}
input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   font-family: "Solomon Sans Normal";
}
input[type="text"]:-ms-input-placeholder {
   font-family: "Solomon Sans Normal";
}

input[type="password"]::-webkit-input-placeholder {
   font-family: "Solomon Sans Normal";
}
input[type="password"]:-moz-placeholder { /* Firefox 18- */
   font-family: "Solomon Sans Normal";
}
input[type="password"]::-moz-placeholder {  /* Firefox 19+ */
   font-family: "Solomon Sans Normal";
}
input[type="password"]:-ms-input-placeholder {
   font-family: "Solomon Sans Normal";
}

textarea::-webkit-input-placeholder {
   font-family: "Solomon Sans Normal";
}
textarea:-moz-placeholder { /* Firefox 18- */
   font-family: "Solomon Sans Normal";
}
textarea::-moz-placeholder {  /* Firefox 19+ */
   font-family: "Solomon Sans Normal";
}
textarea:-ms-input-placeholder {
   font-family: "Solomon Sans Normal";
}

body *{
    font-family: "Solomon Sans Normal";
}
.font-bold{
    font-family: "Solomon Sans Bold";
}
.bar-header .title-center{
    font-family: "Solomon Sans Bold";
}


.bar.bar-stable {
  border-color: #b2b2b2;
  background-color: #F5E85B;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #444;
}
.loading i.ion-loading-c{
	font-size: 300%;
    color: white;
	/*color: black;*/
}
.loading-container{
    /* Quitar para modificacion */
	/*top: 3.1em;
	margin-bottom: 3.4em;
	background-color: white;*/
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #fff;
  background-color: #515F60;
  padding-top: 7px;

}
ion-tabs.tabs-color-active-positive .tab-item {
  color: lightgrey;
  background-color: #515F60;
  opacity: 1;

}
.action-sheet {
  margin-left: 6em;
  margin-right: 6em;
  width: auto;
  z-index: 11;
  overflow: hidden;
}
.action-sheet-wrapper {
  bottom: 30%;
  width: 100%;
}
.splash{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.home.tab-item.tab-item-active{
    background-image: url('../../assets/img/tabs/feedactive.png');
}
.home.tab-item{
    background-image: url('../../assets/img/tabs/feed.png');
}
.explore.tab-item.tab-item-active{
    background-image: url('../../assets/img/tabs/exploreactive.png');
}
.explore.tab-item{
    background-image: url('../../assets/img/tabs/explore.png');
}
.notifications.tab-item.tab-item-active{
    background-image: url('../../assets/img/tabs/activityactive.png');
}
.notifications.tab-item{
    background-image: url('../../assets/img/tabs/activity.png');
}
.profile.tab-item.tab-item-active{
    background-image: url('../../assets/img/tabs/profileactive.png');
}
.profile.tab-item{
    background-image: url('../../assets/img/tabs/profile.png');
}
.home, .home, .explore, .explore, .notifications, .notifications, .profile, .profile{
    background-position: center;
    background-repeat: no-repeat;
}
.tabs{
    background-color: #4c6061;
    border-color: #4c6061;
    background-image: none;
}
.tabs-striped a.tab-item.tab-item-active, .tabs-striped a.tab-item.tab-item-active.activated{
    border-width: 0px;
    margin-top: 0px;
}
.tabs-striped .tabs{
    border-bottom: 0px;
}

.filters div, .buscar div{
    background-position: center;
    background-repeat: no-repeat;
    height: 2em;
    margin-top: 0.2em;
    width: 2em;
}
.filters div{
    background-image: url('../../assets/img/navigationbarfilter.png');
}
.buscar div{
    background-image: url('../../assets/img/navigationbarsearch.png');
}
.no-padding{
    padding: 0em;
}
/* (+) Clases utilizadas en profile.html y en public_profile.html*/
.degrade{
    /*background-image: -webkit-linear-gradient(transparent 10%, transparent 10%, black 150%); /* For Safari 5.1 to 6.0 */
    /*background-image: -o-linear-gradient(transparent 10%, black 150%); /* For Opera 11.1 to 12.0 */
    /*background-image: -moz-linear-gradient(transparent 10%, black 150%); /* For Firefox 3.6 to 15 */
    /*background-image: linear-gradient(transparent 0%, transparent 0%, black 120%);*/
}

.degrade{
    background-color: rgba(0,0,0,0.5)
}
.profile-subheader{
    background-color: rgba(0,0,0,0.5);
}

.profile-subheader .user-name{
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.profile-subheader .btn-left{
}
.profile-subheader .btn-right{
    background-image: url('../../assets/img/navigationbargear.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 2em;
}
/* (-) Clases utilizadas en profile.html y en public_profile.html*/


/* (+) Barra compartir experiencia */
.share-experience-container{
	background-color: #B3A646;
	border: none;
}
.share-experience-container .label{
    background-color: #B3A646;
    color: #EBE35A;
    font-size: 120%;
    display: inline-block;
    padding-left: 2em;
}
/* (-) Barra compartir experiencia */


/* (+) bar de profile, category-profile y public-profile */
.custom-bar .bar{
    background-color: transparent;
    border-width: 0em;
}
.custom-bar .bar-header .title{
    color: #fff;
    font-size: 1.2em;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.custom-bar .bar .custom-back-button{
    background-image: url("../../assets/img/navigationbarbackwhite_2x.png");
    background-position: left;
    color: #fff;
    padding-left: 1em;
    font-size: 1.2em;
}
.custom-bar .bar .custom-right-button{
    color: #fff;
    font-size: 2em;
}
.custom-bar .bar .custom-right-button, .custom-bar .bar .custom-back-button{
    background-repeat: no-repeat;;
    background-color: transparent;
    background-size: contain;
    border-width: 0em;
}
/* (-) bar de category-profile y public-profile */


/* (+) transiciones */
.fade-in.ng-enter {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 0;
}

.fade-in.ng-enter-active {
    opacity: 1;
}

.fade-out.ng-leave {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 1;
}

.fade-out.ng-leave-active {
    opacity: 0;
}
/* (-) transiciones */


/* (+) subtitulos */
.custom-subtitle{
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.55em;
}
.custom-subtitle>*{
    display: inline-block;
}
.custom-subtitle .ver-todos{
    background-image: url('../../assets/img/navigationbarbackblack_right.png');
    background-position: right;
    background-repeat: no-repeat;
    float: right;
    font-size: 0.8em;
    padding-right: 1em;
}
.custom-subtitle span{
    color: #3c3c3c;
    font-weight: bold;
}
/* (-) subtitulos */

.edit-pass .list.list-inset, .edit-profile .list.list-inset{
    margin: 0px;
}

/* Boton de privacidad en profile->menu->privacidad */
.privacity-view .item-divider{
    font-size: 0.9em;
}
.privacity-selected, .privacity-deselected{
    font-weight: normal;
    font-size: 0.9em;
}
.privacity-deselected{
    opacity: 0.2;
}
.privacity-selected{
    background-color: #387ef5;
    border: #0c63ee solid 1px;
    color: #fff;

    -o-transition-property: 'background-color', 'color';
    -o-transition-duration: 0.2s;
    -moz-transition-property: 'background-color', 'color';
    -moz-transition-duration: 0.2s;
    -webkit-transition-property: 'background-color', 'color';
    -webkit-transition-duration: 0.2s;
    transition-property: 'background-color', 'color';
    transition-duration: 0.2s;
}
