#login-forgot-password{
	padding-top: 0.5em;
	text-align: center;
	font-size: 85%;
	color: #666666;
}
.loginimg{
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 99999;
	vertical-align: top;
}
.row-login{
	background-color: #171717;
	color: #fff;
	padding: 0px;
}
.row-login div.col{
	border-bottom: 0.3em solid #171717;
	padding-bottom: 0.7em;
	padding-top: 0.7em;
	text-align: center;
}
.row-login div.col.active{
	border-bottom: 0.3em solid #02B8C1;
}
.
.login-input{
	height: 3.5em !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
}
.login-button, .register-button{
	background-color: #171717;
	color: white;
}
.facebook-login{
	background-image: url("../../assets/img/landingfacebookicon.png");
	background-position: left;
	background-repeat: no-repeat;
	background-origin: content-box;
}
