.ion-chatbox-working{
	position: absolute;
	font-size: 140%;
	left: 1.15em;
	top: 0.6em;
	color: #EBE35A;
	z-index: 12;
}
.loading-container .loading {
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: rgba(0, 0, 0, 0);*/
}
.list{
	background-color: #EAEEEF;
}
.hr-share{
	width: 95%;
	margin-left: 2.5%;
	color: #00bcc7;
}
#preview{
	position: absolute;
	top: 7em;
}
.news-title{
    padding-top: 0.5em;
}
.news-title img{
    height: 70%;
}

.experience-text, .experience-tools, .add-categories .categories{
	padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
}
.experience-text #share-experience-user-img{
	border-radius: 100%;
    height: 4em;
	position: absolute;
	left: 0.4em;
	top: 0.4em;
    width: 4em;
    z-index: 12;
}
.experience-text .textarea{
	margin-left: 4.5em;
    margin-right: 6.5em;
}
.experience-text .textarea textarea{
	color: #3c3c3c;
	font-size: 0.9em;
	height: 6em;
	resize: none;
	vertical-align: top;
}
.experience-text .button-camera{
	background-color: #BBBEBF;
	background-image: url('../../assets/img/new-post/shareexperienceaddpictureplaceholder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color: white;
	float: right;
	font-size: 500%;
    height: 1.1em;
	position: absolute;
	right: 0.1em;
	top: 0.1em;
    width: 1.1em;
}
.experience-text .with{
    color: #3c3c3c;
}
.experience-text .with span.name{
    color: #56bcc5;
}


.experience-text{
    padding-top: 1em;
}

/* (+) Botones para agregar amigos */
.experience-tools{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.experience-tools .add-friends{
    background-size: cover;
}
.experience-tools .share-location{
    background-size: contain;
}
.experience-tools .add-friends, .experience-tools .share-location{
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    margin-right: 1em;
    height: 2.1em;
    width: 3.8em;
}
.experience-tools .add-friends{
    background-image: url('../../assets/img/new-post/shareexperiencefriendtag_3x.png');
}
.experience-tools .share-location{
    background-image: url('../../assets/img/new-post/shareexperiencelocation_3x.png');
}
.experience-tools .experience-text-length{
    color: #00bcc7;
    float: right;
    font-size: 1.1em;
    padding-top: 0.2em;
}
/* (-) Botones para agregar amigos */

.categories .category .image.add-category{
	background-image: none;
}
.categories .category .image.add-category i{
	color: #ccc;
	font-size: 3.5em;
}

.share{
}
.share .title{
}
.share .items{
    overflow: auto;
    text-align: center;
}
.share .items .share-to-facebook, .share .items .share-to-twitter{
    background-color: #fff;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
	border-width: 0em;
    /*border-color: #c7c7c7;
    border-bottom-width: 0em;
    border-style: solid;
    border-top-width: 0em;*/
    height: 4em;
    /*width: 49%;*/
}
.share .items .share-to-facebook{
    background-image: url('../../assets/img/new-post/shareexperiencesocialfacebookactive.png');
    /*border-left-width: 0em;*/
    /*border-right-width: 0.08em;*/
    /*float: left;*/
    /*margin-left: 1%;*/
	width: 95%;
}
.share .items .share-to-twitter{
    background-image: url('../../assets/img/new-post/shareexperiencesocialtwitteractive.png');
    border-left-width: 0.08em;
    border-right-width: 0em;
    float: right;
    /*margin-right: 1%;*/
}
.add-categories .title, .share .title, .footer{
	border-top: 0.1em solid #c7c7c7;
}
.add-categories .title, .share .title, .footer{
    background-color: #f0f0f0;
    border-bottom: 0.1em solid #c7c7c7;
    color: #919191;
    padding: 0.5em;
}
.share-to-facebook{
	background-image: url('../../assets/img/new-post/shareexperiencesocialfacebookactive.png');
	background-color: #fff;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
	border-width: 0em;
    height: 2em;
	width: 90%;
}
.share .list .item{
	border-width: 0em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}


/* (+) Agregar intereses a post */
.agregar-interes-filter{
    background-color: #aea54e;
    padding: 1em;
    text-align: center;

	left: 0em;
	position: absolute;
	right: 0em;
	top: 3.1em;
	z-index: 1001;
}
.agregar-interes-filter .search-field{
	/*border-left: 0.5em solid #827c3a;*/
	/*padding-left: 2.5em;*/
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-top: 0.2em;
	text-align: left;
}
.agregar-interes-filter .search-field>*{
	display: inline-block;
}
.agregar-interes-filter .search-field .ico-search{
	vertical-align: middle;
}
.agregar-interes-filter .search-field .ico-search .ion-search{
	font-size: 2em;
}
.agregar-interes-filter .search-field, .agregar-interes-filter input[type="text"]{
    background-color: #827c3a;
	border-radius: 0.5em;
}
.agregar-interes-filter .search-field, .agregar-interes-filter input[type="text"]::-webkit-input-placeholder {
   color: #aea54e;
}
.agregar-interes-filter .search-field, .agregar-interes-filter input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #aea54e;
}
.agregar-interes-filter .search-field, .agregar-interes-filter input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #aea54e;
}
.agregar-interes-filter .search-field, .agregar-interes-filter input[type="text"]:-ms-input-placeholder {
   color: #aea54e;
}

.agregar-interes{
	margin-top: 4.7em;
}
.agregar-interes .title{
	background-color: #f0f0f0;
    color: #3c3c3c;
    font-weight: bold;
	padding: 0.5em;
}
.agregar-interes .lista .interest{
}
.agregar-interes .lista .interest .content{
	border-top: 0.08em solid #cccccc;
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.agregar-interes .lista .interest .add, .agregar-interes .lista .interest .ico{
    display: inline-block;
    height: 2.3em;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 2.3em;
}
.agregar-interes .lista .interest .add{
	border: 0.08em solid #cccccc;
    border-radius: 50%;
}
.agregar-interes .lista .interest i{
    color: #c8c8c8;
    font-size: 2.4em;
    opacity: 0;
}
.agregar-interes .lista .interest .selected{
    border-width: 0em;
}
.agregar-interes .lista .interest .selected i{
    opacity: 1;
    position: relative;
}
.agregar-interes .lista .interest .ico{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    vertical-align: middle;
}
/* (-) Agregar intereses a post */
#explore .item.item-divider{

}
#explore .item.item-divider .ver-todos{
    background-image: url('../../assets/img/navigationbarbackblack_right.png');
    background-position: right;
    background-repeat: no-repeat;
	display: inline;
    float: right;
	font-size: 0.7em;
    padding-right: 1em;
}



/* (+) Utilizado en new_post.html y en post_detail.html */
.post-link{
	border: 1px solid #ccc;
	min-height: 5.5em;
}
.post-link .link-preview{
	background-position: center;
	background-repeat: no-repeat;
}
.post-link .link-info{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.post-link .link-info .link-title{
	font-size: 0.9em;
	font-weight: bold;
}
.post-link .link-info .link-content{
	font-size: 0.8em;
}
/* (-) Utilizado en new_post.html y en post_detail.html */
