#shareExperienceContainer{
	background-color: #B3A646;
	border: none;
}
#experienceTextArea{	
	font-size: 120%;
	background-color: #B3A646;
	position: relative;
	width: 100%; 
  	resize: none;
}
#experienceTextArea::-webkit-input-placeholder {
   color: #EBE35A;
   padding-left: 2em;
   padding-top: 0.45em;
}
#experienceTextArea:-moz-placeholder { /* Firefox 18- */
   color: #EBE35A; 
   padding-left: 2em;
   padding-top: 0.45em;
}

#experienceTextArea::-moz-placeholder {  /* Firefox 19+ */
   color: #EBE35A;
   padding-left: 2em;
   padding-top: 0.45em; 
}

#experienceTextArea:-ms-input-placeholder {  
   color: #EBE35A;  
   padding-left: 2em;
   padding-top: 0.45em;
}
.ion-chatbox-working{
	position: absolute;
	font-size: 140%;
	left: 1.15em;
	top: 0.6em;
	color: #EBE35A;
	z-index: 12;
}
.loading-container .loading {  
  background-color: rgba(0, 0, 0, 0);  
}
.list{
	background-color: #EAEEEF;
}
#shareExperience{
	font-size: 120%; 
	position: absolute;
	left: 20%;
	top: 1em;
	width: 55%; 
	height: 4em;
  	resize: none;
}
#share-experience-user-img{
	position: absolute;
	border-radius: 100%;
    height: 4em;
    width: 4em;
    top: 1em;
    left: 0.7em;
    z-index: 12;
}
.ion-camera{
	font-size: 500%;
	color: white;
}
.camera{
	position: absolute;
	background-color: #BBBEBF;
	left: 78%;
	top: 0.1em;
}
.hr-share{
	position: absolute;
	top: 6em;
	width: 95%;
	left: 2.5%;
	color: #BBBEBF;
}
#preview{
	position: absolute;
	top: 7em;
}