.notification-profile-request-img, .notification-profile-img {
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    height: 3em;
    width: 3em;
}
.notification-text-request-muted {
    color: #C8C8C8;
    font-size: 0.9em;
}
.notification-request-icon-ok {
    font-size: 2.7em;
    color: #56BCC5;
}
.notification-icon-align-go {
    text-align: right;
    margin-top: 0.6em;
}
.notification-profile-img-center {
    padding-right: 2.5em;
}
.request-button-align-ok {
    text-align: right;
    vertical-align: middle;
}
.notification-container-text {
    font-size: 0.9em;
    white-space: normal;
}
.notification-icon-go {
    color: #C8C8C8;
    font-size: 2em;
}
.notification-user-go {
    color: #56BCC5;
    font-weight: 600;
}
.notification-timestamp-text {
    color: #C8C8C8;
}
.notification-list-no-pad .item-content {
    padding:0px 0px 0px 0px;
}
.notification-list-no-pad .row>.col.action{
    text-align: right;
}
.ignore{
    border-color: #C64E51 !important;
    background-color: #C64E51 !important;
}
