#post-detail-content-container {
    height: 40vh;
	/*background-color: black;*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#post-detail-user-name {
    font-size: 110%;
	font-weight: bold;
}

.post-detail-user-data{
	padding-top: 0.5em;
	text-align: left;
}

#post-detail-location {
    color: #EEE0BB;
    font-size: 90%;
}

#post-detail-user-img {
    border-radius: 100%;
    height: 4em;
    width: 4em;
}

#post-detail-user-img-container {
    padding: 0.3em;
}

#post-detail-more{
    text-align: right;
}

#postDetail #commentTextContainer {
	padding: 0.1em 0 0 0.5em;
}

#commentTextArea{
	resize: none;
	font-size: 75%;
}

//Comments
.post-detail-comment-user-img {
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
}

.post-detail-comment-user-name {
    font-size: 80%;
	font-weight: bold;
}

.post-detail-comment-timestamp {
    font-size: 60%;
	font-weight: 100;
}

.post-detail-comment-container {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0.5em;
	padding-right: 0;
}

.post-detail-comment-container:active{
	background-color: #f4f4f4;
}

.post-detail-comment-text {
    font-size: 80%;
	white-space: pre-wrap;
}

.post-detail-comment-user-img-container {
    text-align: center;
	padding-top: 0.5em;
	padding-right: 0.5em;
}

