#post-detail-content-container {
    /*border-width: 0px;*/
    /*height: 15em;
    height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;*/

    max-height: 15em;
    max-height: 40vh;
    max-width: 100%;
}

.publicacion .card.imagen{
    margin-top: 0px;
    text-align: center;
}
.publicacion .card.imagen .item-body{
    padding: 5px;
}
#post-detail-user-name {
    font-size: 120%;
	font-weight: bold;
}

.post-detail-user-data{
	padding-top: 0.5em;
	text-align: left;
}

#post-detail-location {
    color: #EEE0BB;
    font-size: 100%;
}

.post-detail-text{
	font-size: 0.9em;
}
.post-detail-text .with{
    color: #3c3c3c;
}
.post-detail-text .with span.name{
    color: #56bcc5;
}

#post-detail-user-img {
    border-radius: 100%;
    height: 5em;
    width: 5em;
    object-fit: cover;
}

#post-detail-user-img-container {
    padding: 0.3em;
}

#post-detail-more{
    text-align: right;
}

#postDetail #commentTextContainer {
	/*padding: 0.2em 0 0 0.5em;*/
    padding: 0.5em 0.5em;
	/*height: 2.9em;*/
}

#postDetail #commentTextContainer #commentTextArea{
	font-size: 0.9em;
    resize: none;
    width: 90%;
}
#postDetail #commentTextContainer #commentTextArea::-webkit-input-placeholder {
   vertical-align: middle;
}
#postDetail #commentTextContainer #commentTextArea:-moz-placeholder { /* Firefox 18- */
   vertical-align: middle;
}
#postDetail #commentTextContainer #commentTextArea::-moz-placeholder {  /* Firefox 19+ */
    vertical-align: center;vertical-align: middle;
}
#postDetail #commentTextContainer #commentTextArea:-ms-input-placeholder {
    vertical-align: center;vertical-align: middle;
}


#postDetail #commentTextContainer .comment-button{
	margin: auto 0.5em auto 0.5em;
    vertical-align: middle;
}


#post-detail-comment-user-img {
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
}

.post-detail-comment-user-name {
    font-size: 90%;
	font-weight: bold;
}

.post-detail-comment-timestamp {
    font-size: 80%;
	font-weight: 100;
}

.post-detail-comment-container {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0.5em;
	padding-right: 0;
}

.post-detail-comment-container:active{
	background-color: #f4f4f4;
}

.post-detail-comment-text {
    font-size: 100%;
	white-space: pre-wrap;
}

#post-detail-comment-user-img-container {
	padding-top: 0.3em;
	padding-right: 0.3em;
}
.star-size{
	font-size: 160%;
}

/* (+) listado de categorias */
.publicacion .categories{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
}
.publicacion .categories .category{
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
    text-align: center;
    vertical-align: top;
    width: 6em;
}
.publicacion .categories .category .image{
    background-color: #fff;
    background-image: url('../../assets/img/unknown_post.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 0px;
    border-radius: 50%;
    height: 3.5em;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    width: 3.5em;
}
.publicacion .categories .category .btn-text{
    font-size: 0.8em;
}
/* (-) listado de categorias */

.publicacion .stars{
    margin-left: 1em;
}
.publicacion .stars, .publicacion .stars>div{
    display: inline-block;
}
.publicacion .stars, .publicacion .more{
    float: right;
}
.publicacion .more{
    margin-left: 1em;
}
