.post-summary {
    height: 14em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 100%;
}
.post-summary-text{
    margin-top: 5.6em;
    margin-bottom: 0.3em;
    border-radius: 0.25em;
    padding: 0em 0.3em;
    color: white;
    background-color: rgba(0,0,0,0.4);
    overflow:hidden;
    text-overflow:ellipsis;
}

.post-summary-footer {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.25em;
    width: 5em !important;
	color: white;
    font-size: 140%;
    padding: 0.3em 0.3em;
}
.post-summary-timestamp {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.25em;
    padding: 0em 0.3em;
    color: white;
    float: right;
    display: block;
    clear: both;
}

.post-summary-user-name {
    font-size: 110%;
}

.post-summary-user-data{
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.25em;
    color: white;
    padding: 0em 0.3em;
    margin-top: 0.5em;
    margin-left: 0.4em;
}

.post-summary-location {
    color: #EEE0BB;
    font-size: 90%;
}

.post-summary-user-img {
    border-radius: 100%;
    height: 4em;
    width: 4em;
    object-fit: cover;
}
.ion-ios7-star{
    color: yellow;
}