.post-summary {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-width: 0px;
    height: 14em;
    margin-bottom: 0.6em;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    width: 100%;
}
.post-summary .gradient{
    height: 100%;
    background-image: -webkit-linear-gradient(black -10%, transparent 50%, black 110%); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(black -10%, transparent 50%, black) 110%; /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(black -10%, transparent 50%, black 110%); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(black -10%, transparent 50%, black 110%); /* Standard syntax */
}
.post-summary-text{
    margin-top: 5.6em;
    margin-bottom: 0.3em;
    border-radius: 0.25em;
    padding: 0em 0.3em;
    color: white;
    overflow: hidden;
    text-overflow:ellipsis;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

.post-summary-footer {
    background-color: rgba(0,0,0,0.6);
	color: white;
    font-size: 150%;
    margin: 0px -5px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 110%;
}
.post-summary-footer .counter{
	color: #00bcc7;
    display: inline-block;
    padding-top: 0.12em;
    vertical-align: top;
}
.post-summary-footer>div{
    display: inline-block;
    margin-left: 0.8em;
}
.post-summary-timestamp {
    border-radius: 0.25em;
    padding: 0em 0.3em;
    color: white;
    float: right;
    display: block;
    clear: both;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.post-summary-user-name {
    font-size: 110%;
    font-weight: bold;
}

.post-summary-user-data{
    border-radius: 0.25em;
    color: white;
    padding: 0em 0.3em;
    margin-top: 0.5em;
    margin-left: 0.4em;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    font-weight: bold;
}

.post-summary-location {
    color: #EEE0BB;
    font-size: 90%;
}

.post-summary-user-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    /*object-fit: cover;*/
}
.ion-ios7-star{
    color: yellow;
}
.dont-like{
	/*background-image: url('../../assets/img/like/poststarbutton.png');*/
    background-image: url('../../assets/img/svg/like-deselected.svg');
}
.like{
	/*background-image: url('../../assets/img/like/poststarbuttonactive.png');*/
    background-image: url('../../assets/img/svg/like-selected.svg');
}
.comments{
    background-image: url('../../assets/img/postcommentbutton.png');
}
.dont-like, .like, .comments{
    background-position: center;
    background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 1em;
	width: 1.3em;
}
.postTimestamp{
    background-image: url('../../assets/img/svg/reloj-post-summary.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.4em;
}
