#profile-img>div{
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255,255,255, 0.5);
    border-radius: 100%;
    height: 6em;
    width: 6em;
}
#background-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    width: 100%;
}

.tag-social-link-text {
    color: #56BCC5;
}
.tag-social-link-url {
    color: blue;
    text-decoration: underline;
}
.profile-name{
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);
}
.profile-text-center {
    text-align: center;
    margin-top: 0.6em !important;
    padding: 0px;
}
#profile-background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#profile-background-img .custom-bar .custom-right-button{
    /*background-image: url('../../assets/img/navigationbargear.png');
    height: 1.1em;
    width: 1.1em;*/
}
.profile-info{
    padding-top: 3.5em;
}
.profile-number {
    font-size: 160%;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.profile-number-text-under {
    font-weight: bold;
    font-size: 0.8em;
    height: 1.4em;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.profile-name-text {
    font-size: 110%;
	font-weight: bold;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.profile-button-edit {
    text-align: right;
    padding-right: 0px;
}
.edit-profile-button{
    background-color: rgba(255,255,255,0.2) !important;
    border-radius: 0.4em;
    border: 2px solid white;
    color: white !important;
    font-weight: bold;
    font-size: 0.95em;
    padding: 0.2em 0.5em;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#edit-profile-edit-img{
    position: absolute;
    top: 2%;
}
.profile-interest{
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    color: #F9E1A1;
    font-size: 100%;
    height: 13em;
    background-repeat: repeat-x;
    background-origin: content-box;
    background-position: left center;
    background-size: 20em;
    width: 125em;
}
.up-dna-container, .down-dna-container{
    padding-left: 5em;
}
.up-dna-container{
    height: 8em;
    padding-top: 1em;
}
.down-dna-container{
    height: 8em;
    padding-top: 2.5em;
}
.up-dna-container .dna-punto-impar, .up-dna-container .dna-punto-par{
    top: -0.35em;
}
.down-dna-container .dna-punto-impar, .up-dna-container .dna-punto-par{
    background-color: #6fb0b5;
}
.down-dna-container .dna-punto-par, .up-dna-container .dna-punto-impar{
    background-color: #fed970;
}
.down-dna-container .dna-punto-impar, .down-dna-container .dna-punto-par{
    top: -2.8em;
}
[class^="dna-punto"]{
	border-radius: 5px;
	height: 5px;
    left: 4.8em;
    margin-right: 9.65em;
	position: relative;
	width: 5px;
}
.down-dna, .up-dna{
    float: left;
    text-align: center;
}
.dna-text{
    font-size: 0.8em;
    text-align: center;
    /*width: 9em;*/
}
.dna-button{
    margin-top: 0.5em;
    font-size: 110%;
    background-color: rgba(255,255,255,0.2) !important;
    border-radius: 0.4em;
    border: 2px solid white;
    color: white !important;
    font-weight: bold;
    padding: 0.2em 0.8em;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.no-side-padding{
    padding-left: 0px;
    padding-right: 0px;
}
ion-scroll .scroll{
    background-image: url("../../assets/img/profiledna.png");
    background-origin: content-box;
    background-position: left center;
    background-repeat: repeat-x;
    background-size: 20em;
    margin-left: -4em;
}


/* (+) Barra compartir experiencia */

.share-experience{

}
.profile-share-experience{
	background-color: #000;
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.5);
    border-top: 0.1em solid rgba(255, 255, 255, 0.5);
    opacity: 0.3;
}
.profile-share-experience .icon.ion-chatbox-working{
    color: #fff;
}
.profile-share-experience .label{
	background-color: transparent;
    color: #fff;
	display: inline-block;
	font-size: 120%;
    padding-left: 2em;
}
.barra-divisoria{
    background-color: #fff;
    height: 0.06em;
    opacity: 0.1;
    width: 100%;
}
/* (-) Barra compartir experiencia */
