<ion-view title="PERFIL DE CATEGORÍA" hide-nav-bar="true">
    <ion-content class="category-profile custom-bar has-footer">
        <div class="bar bar-header bar-light">
            <div class="buttons buttons-left">
                <span class="left-buttons">
                    <button class="button custom-back-button" ng-click="back()">
                        <i class="icon ion-ios7-arrow-back"></i>
                        <span class="back-text">
                            <span class="previous-title">Atr&aacute;s</span>
                        </span>
                    </button>
                </span>
            </div>
            <h1 class="title">{{interestName}}</h1>
            <button class="button custom-right-button" ui-sref="tab.search-user-category({ id: interestId })">
                <i class="ion-search"></i>
            </button>
        </div>
        <div class="profile-img" ng-style="{'background-image': 'url(' + interest.imagePath + ')'}">
        <!--<div class="profile-img">-->
            <div class="category-profile-footer">
                <div class="star"></div>
                <div class="ranking">
                    <div class="number">#{{interest.ranking}}</div>
                    <div class="label">TOP</div>
                </div>
                <div class="posts">
                    <div class="number">{{interest.posts | shrinkNumber}}</div>
                    <div class="label">POSTS</div>
                </div>
                <div class="followers">
                    <div class="number">{{interest.followers | shrinkNumber}}</div>
                    <div class="label">SEGUIDORES</div>
                </div>
            </div>
            <div class="loading-image">
                cargando...
            </div>
        </div>
        <div class="category-profile-users">
            <div class="custom-subtitle">
                <span>USUARIOS DESTACADOS</span>
                <div class="ver-todos" ui-sref="tab.search-user-category({ id: interestId })">VER TODOS</div>
            </div>
            <ion-list>
                <!-- Consultar por usuarios populares -->
                <ion-item ng-if="users.length > 0" class="explore-background-container" ng-repeat="item in users" ng-style="{'background-image':'url({{item.backgroundImgUrl !== null  && item.backgroundImgUrl !== '' ? url + item.backgroundImgUrl : unknown_background}})' }">
    				<user-row follow-disabled="item.BeingFollowed" posts-navegable="true" user="item"></user-row>
    			</ion-item>
                <ion-item ng-if="msgUsers">{{msgUsers}}</ion-item>
            </ion-list>
        </div>
        <div class="category-profile-post">
            <div class="custom-subtitle">
                <span>PUBLICACIONES POPULARES</span>
            </div>
            <!-- Consultar por publicaciones populares -->
            <!--<post-summary ng-show="model.posts.length" ng-repeat="post in model.posts | orderBy:'-postTimestamp'"></post-summary>-->
            <ion-list>
                <!-- Consultar por usuarios populares -->
                <post-summary ng-show="posts.length" ng-repeat="post in posts | orderBy:'-postTimestamp'"></post-summary>
                <ion-item ng-if="msgPosts">{{msgPosts}}</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
