<ion-view title="ADN">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="editdna">Agregar</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateData()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="list">
        	<div class="item item-icon-right" ng-repeat="item in model.interests">
                {{item.interestName}}
                <i class="icon ion-minus-circled assertive" ng-click="removeItem(item)"></i>
            </div>
            <div class="item" ng-show="!model.interests.length">
                No has agregado intereses a tu perfil :(
            </div>
        </div>
    </ion-content>
</ion-view>