<ion-view title="ADN" hide-nav-bar="true">
    <div class="custom-bar adn">
        <div class="bar bar-header bar-light">
            <div class="buttons buttons-left">
                <span class="left-buttons">
                    <button class="button custom-back-button" ng-click="back()">
                        <i class="icon ion-ios7-arrow-back"></i>
                        <span class="back-text">
                            <span class="previous-title">Atr&aacute;s</span>
                        </span>
                    </button>
                </span>
            </div>
            <h1 class="title">{{model.profileUserName}}</h1>
            <button id="right-button" class="button custom-right-button" ui-sref="editdna">
                <!--<i class="ion-search"></i>-->
            </button>
        </div>
    </div>
    <ion-content class="content-background">
        <!--
        <div class="list">
        	<div class="item item-icon-right" ng-repeat="item in model.interests">
                {{item.interestName}}
                <i class="icon ion-minus-circled assertive" ng-click="removeItem(item)"></i>
            </div>
            <div class="item" ng-show="!model.interests.length">
                No has agregado intereses a tu perfil :(
            </div>
        </div>-->
        <ion-list>
            <div class="dna-vertical">
                <div class="fade-in fade-out interest item" ng-repeat="interest in interests" ng-class="{'item-icon-right': $index%2 === 0, 'item-icon-left': $index%2 === 1}">
                    <div ng-if="$index%2===0">
                        <div class="texto">
                            <span>{{interest.interestName}}</span>
                        </div>
                        <div class="ico">
                            <i class="icon ion-minus-circled assertive" ng-click="remove(interest)"></i>
                        </div>
                    </div>
                    <div ng-if="$index%2!==0">
                        <div class="ico">
                            <i class="icon ion-minus-circled assertive" ng-click="remove(interest)"></i>
                        </div>
                        <div class="texto">
                            <span>{{interest.interestName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll on-infinite="load()" distance="1%" ng-if="more"></ion-infinite-scroll>
    </ion-content>
</ion-view>
