<ion-view  hide-back-button="true" view-title="Explorar">
	<div ui-sref="newpost({ next: 'tab.news' })">
		<share-experience css-class="bar bar-subheader item-input-inset share-experience-container"></share-experience>
	</div>
    <ion-content id="explore" class="padding has-footer has-header has-subheader">
    	<ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateExploreData()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
		<ion-list>
			<ion-item class="item-divider">
				<div class="row">
					<div class="col">
						Usuarios populares
					</div>
					<div class="col explore-view-all" ng-click="allTopUsers()">
						Ver todos <i class="ion-chevron-right"></i>
					</div>
				</div>
			</ion-item>

			<ion-item class="explore-background-container" ng-repeat="item in model.topUsers" ng-style="{'background-image':'url({{item.backgroundImgUrl !== null  && item.backgroundImgUrl !== '' ? url + item.backgroundImgUrl : unknown_background}})' }">
				<div class="row">
					<div ng-click="viewProfile(item.profileId)">
						<img ng-src="{{item.profileImgUrl !== null  && item.profileImgUrl !== '' ? url + item.profileImgUrl : unknown_user}}" class="explore-profile-img" />
					</div>

					<div class="explore-font">
						<div class="col explore-user-name">
							{{item.profileFirstName}}<br/>
							{{item.profileLastName}}<br/>
						</div>
						<button class="button button-light button-small follow-button" ng-click="followUser(item)">
							<i class="ion-plus active"></i>SEGUIR
						</button>
					</div>

					<div ng-repeat="pub in item.lastPosts" ui-sref="post({'postId': pub.id})" class="col post-content" ng-style="{'background-image':'url({{pub.postImgUrl !== null  && pub.postImgUrl !== '' ? url + pub.postImgUrl : unknown_post}})'}">
                        <div ng-class="{'photo-content': (pub.postType == 'PHOTO'), 'video-content': (pub.postType == 'VIDEO')}"></div>
					</div>
				</div>
			</ion-item>
		</ion-list>

		<br/>

        <ion-list ng-if="false">
			<ion-item class="item-divider">
				<div class="row">
					<div class="col">
						Categorías
					</div>
					<div class="col explore-view-all" ng-click="allCategories()">
						Ver todas <i class="ion-chevron-right"></i>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="row" ng-repeat="row in model.topCategories">
					<div class="col padding light category-content" 
						 style="background-image: url('{{category.categoryImgUrl}}');" 
						 ng-repeat="category in row">
						{{category.categoryName}}<br />
						<button class="button button-light button-small" ng-click="followCategory(category.id, category.categoryName)">
							<i class="ion-plus active"></i> Seguir
						</button>
					</div>
					&nbsp;
				</div>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>