<ion-view hide-back-button="true" view-title="Explorar">
    <ion-nav-buttons side="left">
        <!--<a class="button button-icon icon ion-search" ui-sref="buscar"></a>-->
        <a class="buscar" ui-sref="tab.NewsSearch"><div></div></a>
    </ion-nav-buttons>
    <ion-content id="explore" class="padding has-footer has-header">
    	<ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateExploreData()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
		<ion-list>
			<div class="custom-subtitle">
                <span>USUARIOS POPULARES</span>
                <div class="ver-todos" ng-click="allTopUsers()">VER TODOS</div>
            </div>
			<ion-item class="explore-background-container" ng-repeat="item in model.topUsers" ng-style="{'background-image':'url({{item.backgroundImgUrl !== null  && item.backgroundImgUrl !== '' ? url + item.backgroundImgUrl : unknown_background}})' }">
				<user-row posts-navegable="true" user="item"></user-row>
			</ion-item>
		</ion-list>

		<br/>

        <ion-list>
			<div class="custom-subtitle">
                <span>CATEGORÍAS</span>
                <div ng-if="false" class="ver-todos" ng-click="allCategories()">VER TODAS</div>
            </div>
			<div class="categories">
                <div class="light category-content" ng-style="{'background-image': 'url(' + GetImageInterest(interest) + ')'}" ng-repeat="interest in model.topInterests track by interest.interestId" ui-sref="tab.category-profile({ id: interest.interestId, name: interest.interestText })">
					{{interest.interestText | uppercase}}<br />
				</div>
			</div>

		</ion-list>
    </ion-content>
</ion-view>
