<ion-view view-title="Seguidos">
    <ion-content>
        <!--<ion-refresher pulling-text="Soltar para refrescar" on-refresh="update()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>-->
		<ion-list>
            <ion-item class="explore-background-container" ng-show="following.length" ng-repeat="user in following" ng-style="{'background-image':'url(' + (user.backgroundImgUrl ? url + user.backgroundImgUrl : unknown_background) + ')'}">
                <user-row follow-enabled="false" posts-navegable="true" user="user"></user-row>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreData" on-infinite="more()"></ion-infinite-scroll>
        <div class="list">
            <div ng-show="following.length && following.length > 0" class="item item-icon-left item-icon-right" ng-if="!moreData">No hay más a quien sigas</div>
            <div ng-show="sinSeguiendo" class="item item-icon-left item-icon-right">No te est&aacute; siguiendo nadie</div>
        </div>
    </ion-content>
</ion-view>
