<ion-view hide-back-button="false" hide-nav-bar="true" view-title="Entrar" cache-view="false">
    <ion-content>
        <img class="loginimg" ng-src="{{loginImage}}" />
        <div class="row row-login">
            <div class="col" nav-direction="forward" ui-sref="register">
                <span>REGISTRO</span>
            </div>
            <div class="col active">
                <span>ENTRAR</span>
            </div>
        </div>
        <form name="loginForm" ng-submit="loginForm.$valid && validateUser()" class="content css-form">
            <div class="list">
                <label class="item item-input">
                    <input class="login-input" name="loginName" ng-model="model.user.name" type="text" placeholder="Usuario" required>
                    <i ng-show="loginForm.loginName.$touched && loginForm.loginName.$invalid" class="icon assertive ion-alert"></i>
                </label>
                <label class="item item-input">
                    <input class="login-input" name="loginPassword" ng-model="model.user.password" type="password" placeholder="Contraseña" required>
                    <i ng-show="loginForm.loginPassword.$touched && loginForm.loginPassword.$invalid" class="icon assertive ion-alert"></i>
                </label>
                <div id="login-forgot-password" ng-click="showRememberPassword()">
                    Olvidé mi contraseña
                </div>
            </div>
            <div class="padding">
                <input type="submit" class="button button-block login-button" value="Iniciar sesión" />
            </div>
            <div class="padding">
                <button class="button button-block" ng-click="facebook()">
                    <div class="facebook-login">
                        Iniciar sesi&oacute;n con Facebook
                    </div>
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
