<ion-view title="Compatir Experiencia">
 	<ion-nav-buttons  side="right">
        <a ng-disabled="!(model.experienceText.length || model.mediaSelected)" class="button button-icon icon" ng-click="shareExperience()">Listo</a>
    </ion-nav-buttons>
	<ion-content>		
		 <img id="share-experience-user-img" src="{{user.profileImgUrl !== '' && user.profileImgUrl !== null ? url + user.profileImgUrl : unknown_user}}" />

		<textarea id="shareExperience" 
				  ng-model="model.experienceText" 
				  ng-blur="model.isExperienceTextFocus = false" 
				  ng-focus="model.isExperienceTextFocus = true" 
				  placeholder="Comparte tu experiencia...">
		</textarea>	
		<button class="button ion-camera camera" 
				ng-click="showImagesOptions()">
		</button>
		<hr class="hr-share">		
		
		<img id="preview" ng-if="model.mediaSelected" src="data:image/jpeg;base64,{{model.imageBase64}}"/>	
						
		
		
	</ion-content>
</ion-view>