<ion-view id="news" hide-back-button="true">
    <ion-nav-title>
        <div class="news-title">
            <img src="assets/img/navigationbarlufkelogo.png" />
        </div>
    </ion-nav-title>
    <div ui-sref="newpost">
		<share-experience css-class="bar bar-subheader item-input-inset share-experience-container"></share-experience>
	</div>

    <ion-nav-buttons side="left">
        <!--<a class="button button-icon icon ion-search" ui-sref="buscar"></a>-->
        <a class="buscar" ui-sref="buscar"><div></div></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--<a class="button button-icon icon ion-levels" ui-sref="filters"></a>-->
        <a class="filters" ui-sref="filters"><div></div></a>
    </ion-nav-buttons>

    <ion-content class="has-footer has-header has-subheader">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateNews()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
		<ion-list>
            <post-summary ng-show="model.posts.length" ng-repeat="post in model.posts | orderBy:'-postTimestamp'"></post-summary>
        </ion-list>
        <ion-infinite-scroll ng-if="model.moreData" on-infinite="moreNews()">
        </ion-infinite-scroll>
        <div class="list">
            <div class="item item-icon-left item-icon-right" ng-if="!model.moreData">No hay más noticias que mostrar :(</div>
        </div>
    </ion-content>
</ion-view>
