<ion-view id="news" hide-back-button="true" view-title="Noticias">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-search" ui-sref="buscar"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-levels" ui-sref="filters"></a>
    </ion-nav-buttons>

    <div ui-sref="newpost">
		<ion-header-bar id="shareExperienceContainer" class="bar bar-subheader item-input-inset">
			<textarea id="experienceTextArea" 
					  ng-model="model.experienceText" 
					  ng-blur="model.isExperienceTextFocus = false" 
					  ng-focus="model.isExperienceTextFocus = true" 
					  placeholder="Comparte tu experiencia...">
			</textarea>			
		</ion-header-bar>
	</div>

    <ion-content class="has-footer" padding="true">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateNews()">
        </ion-refresher>
		<ion-list>
			<a ng-show="!model.posts.length" class="item item-icon-left item-icon-right" href="#/tab/explore">
                No hay noticias que mostrar :(<br/>
				Deberías seguir algunas personas<br>
				<i class="icon ion-eye"></i>
			</a>
            <post-summary ng-show="model.posts.length" ng-repeat="post in model.posts | orderBy:'-postTimestamp'"></post-summary>
        </ion-list>  
        <button ng-click="moreNews()" >Mas</button>         
    </ion-content>
</ion-view>