<ion-view id="postDetail" view-title="Publicación" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button ng-click="cancel()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios7-arrow-back"></i>
            <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
                <span class="previous-title">Atr&aacute;s</span>
            </span>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding publicacion has-footer">

        <div class="card imagen">
            <div class="item item-body">
                <img id="post-detail-content-container" ng-src="{{post_url}}" />
            </div>
        </div>

		<div class="row row-top">
			<div id="post-detail-user-img-container">
				<img id="post-detail-user-img" ng-src="{{model.post.authorImgUrl !== null && model.post.authorImgUrl !== '' ? url + model.post.authorImgUrl : unknown_user}}" alt="Foto de perfil" ng-click="viewProfile(model.post.authorId)"/>
			</div>

			<div class="col post-detail-user-data">
				<span id="post-detail-user-name">{{model.post.authorName}}<br/></span>
				<span ng-show="model.post.authorLocation !== ''" id="post-detail-location">
					<i class="ion-location"></i> {{model.post.authorLocation}}<br/>
				</span>
				<span><i class="ion-clock"></i> </span><span am-time-ago="model.post.postTimestamp"></span>
                <div class="more" ng-click="showMore()">
                    <i class="ion-more"></i>
                </div>
                <div class="stars" ng-click="toggleLike()">
                    <div ng-class="{'like': model.post.isLiked, 'dont-like': !model.post.isLiked}"></div>
                    <div class="counter">{{model.post.totalStars}}</div>
                </div>
			</div>
		</div>

        <div class="row row-bottom">
			<div class="col post-detail-text">{{model.post.text}}
                <span class="with" ng-repeat-start="f in model.post.Friends" ng-if="$first"> - con <span class="name">{{f.profileFirstName + ' ' + f.profileLastName}}</span></span><span class="with" ng-if="!$last && !$first">,&nbsp;<span class="name">{{f.profileFirstName + ' ' + f.profileLastName}}</span></span><span class="with" ng-repeat-end ng-if="$last && !$first">&nbsp;y <span class="name">{{f.profileFirstName + ' ' + f.profileLastName}}</span></span>
            </div>
		</div>

        <div class="categories" ng-if="model.post.Interests.length > 0">
            <!-- interest corresponde a la entidad UserInterest. Se debe agregar a esta Interest userInterest.interest.Id -->
            <div class="category" ng-repeat="userInterest in model.post.Interests" ui-sref="tab.category-profile({ id: userInterest.interestId, name: userInterest.interestText })">
                <div ng-if="userInterest.previewPath" class="image" ng-style="{'background-image':'url({{url + userInterest.previewPath}})' }"></div>
                <div ng-if="!userInterest.previewPath" class="image"></div>
                <span class="btn-text">{{userInterest.interestText | initCap}}</span>
            </div>
        </div>

		<ion-list>
			<ion-item id="commentTextContainer" class="item-input-inset">
				<textarea id="commentTextArea"
						  ng-model="model.commentText"
						  ng-blur="model.isCommentTextFocus = false"
						  ng-focus="model.isCommentTextFocus = true"
						  placeholder="Agrega un comentario...">
				</textarea>
				<button ng-show="model.isCommentTextFocus || model.commentText.length"
						ng-disabled="!model.commentText.length || model.commentText.length > 255"
						class="button button-positive button-small ion-edit comment-button"
						ng-click="addComment()">
				</button>
			</ion-item>

			<ion-item ng-repeat="comment in model.post.comments" class="post-detail-comment-container" on-hold="showDeleteComment(comment.id)">
				<div class="row">
					<div id="post-detail-comment-user-img-container">
						<img id="post-detail-comment-user-img" ng-src="{{comment.authorUrlImage !== '' && comment.authorUrlImage !== null ? url + comment.authorUrlImage : unknown_user}}" ng-click="viewProfile(comment.authorId)"/>
					</div>

					<div class="col col-top">
						<span class="post-detail-comment-user-name">{{comment.authorName}}</span>
						<span class="post-detail-comment-timestamp" am-time-ago="comment.timestamp"></span><br/>
						<span class="post-detail-comment-text">{{comment.text}}</span>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
