<ion-view id="postDetail" view-title="Privacidad" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button ng-click="cancel()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios7-arrow-back"></i>
            <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
                <span class="previous-title">Atr&aacute;s</span>
            </span>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="save()" class="button back-button buttons button-clear header-item">
            <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
                <span class="previous-title">Hecho</span>
            </span>
        </button>
    </ion-nav-buttons>
    <ion-content class="privacity-view">
        <ion-list>
            <ion-item class="item item-divider">
                ¿Deseas recibir solicitudes de seguimiento?
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">
                        <ion-radio ng-model="model.public" ng-value="'false'">S&iacute;</ion-radio>
                    </div>
                    <div class="col">
                        <ion-radio ng-model="model.public" ng-value="'true'">No</ion-radio>
                    </div>
                </div>
            </ion-item>
            <div class="padding" ng-class="{'privacity-selected': (model.public == 'false'), 'privacity-deselected': (model.public == 'true')}">
                T&uacute; decides si quieres que alguien te siga, aceptando o no su solicitud
            </div>
            <div class="padding" ng-class="{'privacity-selected': (model.public == 'true'), 'privacity-deselected': (model.public == 'false')}">
                No tendr&aacute;s que aceptar solicitudes de seguimiento, quien decida seguirte lo har&aacute;
            </div>
        </ion-list>
    </ion-content>
</ion-view>
