<ion-view hide-back-button="true" view-title="Perfil" hide-nav-bar="true">
    <ion-nav-buttons side="right" ng-if="false">
        <a class="button button-icon icon ion-gear-b" ui-sref="filters"></a>
    </ion-nav-buttons>
    <ion-content class="has-footer">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateProfileData()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div id="profile-background-img" ng-style="{'background-image': 'url('+ background + ')'}">
            <div class="profile-subheader row">
                <div class="col btn-left"></div>
                <div class="col col-50 user-name">{{model.profileUserName}}</div>
                <div class="col btn-right" ng-click="logout()"></div>
            </div>
            <div ui-sref="newpost({ next: 'tab.news' })">
                <share-experience css-class="bar item-input-inset profile-share-experience"></share-experience>
            </div>
            <div class="degrade">
                <div class="row">
                    <div>
                        <img id="profile-img" ng-src="{{model.profileImgUrl !== null  && model.profileImgUrl !== '' ? url + model.profileImgUrl : unknown_user}}" />
                    </div>
                    <div class="col no-padding">
                        <div class="row light profile-name">
                            <div class="col">
                                <div class="profile-name-text font-bold">{{model.profileFirstName}}</div>
                                <div class="profile-name-text font-bold">{{model.profileLastName}}</div>
                            </div>
                            <div class="col profile-button-edit">
                                <a class="button button-light button-small edit-profile-button" ng-click="editProfile()">Editar perfil</a>
                            </div>
                        </div>
                        <div class="row profile-text-center light">
                            <div class="col no-side-padding" ng-click="news()">
                                <div class="profile-number">{{model.postsUnit}}</div>
                                <div class="profile-number-text-under">Experiencias</div>
                            </div>
                            <div class="col" ng-click="followers()">
                                <div class="profile-number">{{model.followersUnit}}</div>
                                <div class="profile-number-text-under">Seguidores</div>
                            </div>
                            <div class="col" ng-click="following()">
                                <div class="profile-number">{{model.followingUnit}}</div>
                                <div class="profile-number-text-under">Siguiendo</div>
                            </div>
                        </div>
                    </div>
                </div>
				<dna-interests interests="model.interests" read-only="false"></dna-interests>
            </div>
        </div>
        <div class="row">
            <div class="col profile-text-center">
                <p>{{model.summaryText}}</p>

                <p class="tag-social-link-text">
                    {{model.socialLinkText}}
                </p>
                <!--<p class="tag-social-link-url" ng-click="socialLink(model.socialLinkUrl)">
                    {{model.socialLinkUrl}}
                </p>-->
            </div>
        </div>
    </ion-content>
</ion-view>
