<ion-view hide-back-button="true" view-title="Perfil" hide-nav-bar="true">
    <ion-content class="has-footer" ng-show="model">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateProfileData()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div id="profile-background-img" ng-style="{'background-image': 'url('+ background + ')'}">
            <div class="degrade">
                <div class="custom-bar">
                    <div class="bar bar-header bar-light">
                        <h1 class="title">{{model.profileUserName}}</h1>
                        <button class="button custom-right-button" nav-direction="forward" ui-sref="menu-profile">
                            <i class="ion-gear-a"></i>
                        </button>
                    </div>
                </div>
                <div class="share-experience profile-info" ui-sref="tab.newpost({ next: 'tab.news' })">
                    <share-experience css-class="bar item-input-inset profile-share-experience"></share-experience>
                </div>
                <div class="row">
                    <div id="profile-img">
                        <div ng-style="{'background-image': 'url(' + (model.profileImgUrl !== null  && model.profileImgUrl !== '' ? url + model.profileImgUrl : unknown_user) + ')'}"></div>
                    </div>
                    <div class="col no-padding">
                        <div class="row light profile-name">
                            <div class="col">
                                <div class="profile-name-text font-bold">{{model.profileFirstName}}</div>
                                <div class="profile-name-text font-bold">{{model.profileLastName}}</div>
                            </div>
                            <div class="col profile-button-edit">
                                <a class="button button-light button-small edit-profile-button" ui-sref="editprofile">Editar perfil</a>
                            </div>
                        </div>
                        <div class="row profile-text-center light">
                            <div class="col no-side-padding" ui-sref="tab.usernews({ userId: model.profileId })">
                                <div class="profile-number">{{model.postsUnit}}</div>
                                <div class="profile-number-text-under">Posts</div>
                            </div>
                            <div class="col" ui-sref="tab.followers({ userid: model.profileId })">
                                <div class="profile-number">{{model.followersUnit}}</div>
                                <div class="profile-number-text-under">Seguidores</div>
                            </div>
                            <div class="col no-side-padding" ui-sref="tab.following({ userid: model.profileId })">
                                <div class="profile-number">{{model.followingUnit}}</div>
                                <div class="profile-number-text-under">Siguiendo</div>
                            </div>
                        </div>
                    </div>
                </div>
				<dna-interests interests="model.interests" read-only="false"></dna-interests>
            </div>
        </div>
        <div class="row">
            <div class="col profile-text-center">
                <p>{{model.socialLinkText}}</p>

                <p class="tag-social-link-text">
                    {{model.summaryText}}
                </p>
                <!--<p class="tag-social-link-url" ng-click="socialLink(model.socialLinkUrl)">
                    {{model.socialLinkUrl}}
                </p>-->
            </div>
        </div>
    </ion-content>
</ion-view>
