<ion-view view-title="Perfil" hide-nav-bar="true">
    <ion-content class="has-footer">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateProfileData()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div id="profile-background-img" class="custom-bar" ng-style="{'background-image': 'url(' + background + ')'}">
            <div class="degrade">
                <div class="bar bar-header bar-light">
                    <button class="button custom-back-button" ng-click="back()">Atr&aacute;s</button>
                    <h1 class="title">{{model.profileUserName}}</h1>
                </div>
                <div class="row profile-info">
                    <div id="profile-img">
                        <div ng-style="{'background-image': 'url(' + (model.profileImgUrl !== null  && model.profileImgUrl !== '' ? url + model.profileImgUrl : unknown_user) + ')'}"></div>
                    </div>
                    <div class="col no-padding">
                        <div class="row light profile-name">
                            <div class="col">
                                <div class="profile-name-text">{{model.profileFirstName}}</div>
                                <div class="profile-name-text">{{model.profileLastName}}</div>
                            </div>
                            <div class="col profile-button-edit">
                                <a class="button button-light button-small edit-profile-button" ng-click="follow()" ng-disabled="disabled || model.BeingFollowed">
                                    <i class="ion-plus active" ng-show="!disabled && !model.BeingFollowed"></i>{{model.BeingFollowed ? "siguiendo" : btnSeguir}}
                                </a>
                            </div>
                        </div>
                        <div class="row profile-text-center light">
                            <div class="col no-side-padding" ui-sref="tab.usernews({ userId: model.profileId })">
                                <div class="profile-number">{{model.postsUnit}}</div>
                                <div class="profile-number-text-under">Experiencias</div>
                            </div>
                            <div class="col" ui-sref="tab.followers({ userid: model.profileId })">
                                <div class="profile-number">{{model.followersUnit}}</div>
                                <div class="profile-number-text-under">Seguidores</div>
                            </div>
                            <div class="col no-side-padding" ui-sref="tab.following({ userid: model.profileId })">
                                <div class="profile-number">{{model.followingUnit}}</div>
                                <div class="profile-number-text-under">Siguiendo</div>
                            </div>
                        </div>
                    </div>
                </div>
                <dna-interests interests="interests"></dna-interests>
            </div>
        </div>
        <div class="row">
            <div class="col profile-text-center">
                <p>{{model.summaryText}}</p>
                <!--<p>
                    <span>|</span>
                    <span ng-repeat="item in model.tags">
                        <span class="tag-social-link-text" ng-click="viewTag(item)">{{item.tagText}}</span>
                        <span>|</span>
                    </span>
                </p>-->
                <p class="tag-social-link-text" ng-click="socialLink(model.socialLinkUrl)">
                    {{model.socialLinkText}}
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
