<ion-view>
	<ion-nav-view></ion-nav-view>

	<ion-tabs class="tabs-icon-only tabs-color-active-positive">
		<ion-tab class="home padding-top" ui-sref="tab.news" ng-click="Go('tab.news')"></ion-tab>
		<ion-tab class="explore padding-top" ui-sref="tab.explore" ng-click="Go('tab.explore')"></ion-tab>
		<ion-tab class="notifications padding-top" ui-sref="tab.notifications" ng-click="Go('tab.notifications')"></ion-tab>
		<ion-tab class="profile padding-top" ui-sref="tab.profile" ng-click="Go('tab.profile')"></ion-tab>
	</ion-tabs>
</ion-view>
