<ion-view view-title="Tus experiencias" hide-back-button="true" >
    <ion-nav-buttons side="left">
        <button ng-click="cancel()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios7-arrow-back"></i>
            <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
                <span class="previous-title">Atr&aacute;s</span>
            </span>
        </button>
    </ion-nav-buttons>>

    <div ng-if="false" ui-sref="newpost">
		<share-experience></share-experience>
	</div>

    <ion-content>
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateNews()" pulling-icon="ion-loading-c" refreshing-icon="ion-loading-c">
        </ion-refresher>
		<ion-list>
            <post-summary ng-show="model.posts.length" ng-repeat="post in model.posts | orderBy:'-postTimestamp'"></post-summary>
        </ion-list>
        <ion-infinite-scroll ng-if="model.moreData" on-infinite="moreNews()">
        </ion-infinite-scroll>
        <div class="list">
            <div class="item item-icon-left item-icon-right" ng-if="!model.moreData">No hay más noticias que mostrar :(</div>
        </div>
    </ion-content>
</ion-view>
